@{
    ViewData["Title"] = "Home Page";
}


<script defer src="~/js/site.js"></script>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }


    .div{
        border: solid 2px;
        padding:40px;
        margin:40px;
    }

</style>


<div class="text-center">
    <div id="divOne">
        <h1 class="display-4">Welcome</h1>

    </div>

    <div id="form">
        <input id="idOne" value="Hello" type="text" />
        <input type="text" value="Hello" class="inputOne" />
        <input type="text" class="inputOne" />
        <input type="text" class="inputOne" />
        <input type="text" class="inputOne" />
        <input type="text" value="Hello" class="inputOne" />
        <input type="text" class="inputOne" />
        <input type="text" class="inputOne" />
        <br />
        <input type="radio" name="gender" value="male" />Male
        <br />
        <input type="radio" name="gender" value="female" />Female
        <br />
        <input type="radio" name="gender" value="other" />Other
        <br />
    </div>

    <button id="btnOne" data-value="Hello World">Click me</button>



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>




    <div class="div" style="background:red" id="red">
        <div class="div" style="background:green" id="green">
            <div class="div" style="background:blue" id="blue">

            </div>
        </div>
    </div>

</div>


